.floatButton {
  animation: float 0.90s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
}


.softShadow {
  box-shadow:
    0 1px 2px rgba(0,0,0,0.06),
    0 6px 12px rgba(0,0,0,0.06);
}

.softShadowHover:hover {
  box-shadow:
    0 4px 8px rgba(0,0,0,0.08),
    0 12px 20px rgba(0,0,0,0.08);
}